<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Name</th>
            <th>City</th>
            <th>Main</th>
            <th>Contact_no</th>
            <th>Gender</th>
        </tr>
        {% for user in users_details %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
            <td>{{ user[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
